<table>
        <tr>
          <th>Name</th>
          <th>Titles</th>
          <th>Landmarks</th>
        </tr>
        <tr>
          <td><%= @figure.name %></td>
          <td>
            <% @figure.titles.each do |title| %>
            <%= title.name %>
            <br>
            <% end %>
          </td>
          <td>
            <% @figure.landmarks.each do |landmark| %>
            <%= landmark.name %>
            <br>
            <% end %>
          </td>
        </tr>
      <table>
      <br><br>
      <a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
      <br>
      <a class="button" href="/figures">FIGURES</a>
      